<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
</head>
<body>
		<h1><%= title %></h1>
		<% if(products && fields) { %>	
		<table>
			<thead>
				<tr>
					<% for(let i = 1; i < fields.length; i++) { %>
					<th><%= fields[i].name %></th>
					<% } %>
				</tr>
			</thead>
			<tbody>
				<% for(let i = 0; i < products.length; i++) { %>
					<tr>
						<td><%= products[i].name %></td>
						<td><%= products[i].category %></td>
						<td>₱ <%= products[i].price %></td>
					</tr>
				<% } %>
			</tbody>
			<tfoot></tfoot>
		</table>
		<% }%>
</body>
</html>
